@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-items {
    @apply mx-auto max-w-7xl px-8;
  }
}

.background {
  background-image: url("/src/assets/blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.resume-btn {
  width: 6rem;
  height: 2rem;
  border: 2px solid #0284c7;
  border-radius: 6%;
}
